body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  color: #000;
  /* The image is from [http://grrlpowercomic.com/], it has been cropped to the bear minimum reqired */
  background: #A7B7C8 url('./images/StyleStuff/top_gradient.png') repeat-x top right;
  font-family: 'Lucida Sans Unicode','Lucida Grande',Tahoma,sans-serif;
  line-height: 1.3em;
}

p {
  margin: 12px 0;
}

header, main {
  width: 942px;
  margin: auto;
  margin-top: 15px;
  /* this is the really complex shadow that is done as a image on the main site. */
  border-radius: 0.75em;
  box-shadow: 0 0 4px 4px ;
  box-shadow: 4px 4px 4px rgba(35, 52, 77, 0.5), -4px 4px 4px rgba(35, 52, 77, 0.5);
}

/* start header stuff */

  header {
    height: 161px;
    border: 1px solid #424242;
    background: linear-gradient(to bottom, #d5dce4 0%,#acbacb 60%);
    /* t r b l */
    padding: 11px;
  }

    header img {
      vertical-align: middle;
    }

      header div {
        color: #c33;
        font-size: 2.2rem;
        margin: auto;
        vertical-align: middle;
        display: inline-block;
        padding-left: 1%;
      }

        header div p {
          margin-bottom: 0.75em;
          margin-top: 0.75em;
        }

        header div p a {
          color: #000267;
        }

/* end header stuff */



/* start main content stuff */

main {
  background-color: #5e6681;
  border: 1px solid #414142;
  padding: 11px 12px 11px 20px;
}

/* the actual orb map */

#dataVisualization {
    width: 643px;
    height: 700px;
    /*border: 1px solid lightgray;*/
    background-color: white;
    z-index:10;
    margin-top:5px;
}

/* end orbmap */

/* start sidebar */

#rightBar {
  float: right;
  width: 255px;
  padding: 5px;
}

  #rightBar .barItem {
    background-color: #E7EBEF;
    border-radius: 5px;
    padding: 5px 5px 4px 5px;
    border: 1px solid #339;
    margin-bottom: 10px;
    width: 240px;
    text-align: center;
  }

    .bottomLine {
      border-bottom: 1px solid #4D5570;
    }

    #rightBar .barItem .barItemTitle {
      padding-bottom: 3px;
      display: block;
      font-size: 18px;
    }

    #rightBar .barItem .barItemContent {
      padding-top: 4px;
    }

      #rightBar .barItem .barItemContent .barItemContentOuter {
        padding-left: 4px;
      }

          #rightBar .barItem .barItemContent .barItemContentOuter .barItemContentOuterTitle {
            color: #CC3333;
            font-style: italic;
            font-size:12px
          }

          #rightBar .barItem .barItemContent .barItemContentOuter .barItemContentOuterFlag {
            width: 40px;
            height: 12px;
            float: right;
            border: 1px solid #5F6781;
            text-align: center;
            font-size: 8px;
            overflow: hidden;
          }

      #rightBar .barItem .barItemContent .barItemContentInner {
        width: 234px;
        padding: 5px 2px 5px 2px;
        background-color: #B8C4D2;
        color: #4D5570;
        font-size: 11px;
        border: 1px solid #5F6782;
        border-radius: 2px;
      }

          .barItemContentInner > .bottomLine {
            padding-bottom: 5px;
            margin-bottom: 4px;
          }

          .barItemContentInner > .bottomLine, .barItemContentInner > .noBottomLine {
            margin-left: 2px;
          }

          #rightBar .barItem .barItemContent .barItemContentInner div div {
            padding-left: 11px;
            margin-top: 5px;
          }

          #rightBar .barItem .barItemContent .barItemContentInner div div ul {
            padding-left: 11px;
            margin: 0;
          }

/* end sidebar */

#GeneralNotes {
  border-radius: 5px;
  background-color: #D1D3DF;
  border: 1px solid black;
  padding: 10px;
  margin-top: 14px;
}


/* end main content stuff */


/* start footer stuff */

footer {
  text-align: center;
  margin: 12px 0;
}

/* end footer stuff */
